<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="stylesheets/main.css" media="screen">
	<link rel="stylesheet" href="stylesheets/print.css" media="print">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>{{ data.seo_title }}</title>
	{% if data.seo_description %}
	{% endif %}
</head>
<body>
	<header>
		<h1>EVE Corp Center</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
			</ul>
		</nav>
	</header>
	<ul>
		<li>{{ data.ID_parent }}</li>
		<li>{{ object.name }}</li>
	</ul>
	<section id="content">
		{{ data.content|raw }}
		{{ dump(current_user) }}

		{{ dump(data) }}
		{{ dump(object) }}
	</section>
	<footer>
		© ECC
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script type="text/javascript" src="javascript/jquery.js"><\/script>')</script>
</body>
</html>